target
debug
**/*.rs.bk
**/mutants.out*/
rustc-ice-*.txt
.DS_Store
.idea/
.vscode/
*.env
*.wvd
vpn-config
*~
*.bak
*.swp
.public/
.wrangler/
*.mpd
out/
tests/conformance/schematron/tmp/
tests/conformance/schematron/output/